:root{
    --orange: #ea592c;
    --peach: #fc8b5f;
    --pink: #c0587e;
    --brown: #491f19;
    --header_height: 80px;
}
*{
    padding: 0;
    margin: 0;
}
body:is(.unfolded){
    overflow-y: hidden;
}
body * {
    font-family: 'Noto Sans HK';
}
body > header{
    position: relative;
    display: flex;
    height: var(--header_height);
    width: 92%;
    justify-content: center;
    align-items: center;
    padding: 0 4%;
    background-color: #ffffff;
    box-shadow: 3px 3px 15px #00000026;
    z-index: 10;
}
body > header > *{
    display: flex;
    align-items: center;
}
body > header > #logo{
    height: 54px;
    width: 190px;
    flex-shrink: 0;
    justify-content: center;
    column-gap: 8px;
    padding: 0 1em;
    border-left: 4px solid var(--orange);
    text-decoration: none;
    color: #000000;
}
body > header > #logo:visited{
    color: #000000;
}
body > header > #logo > span{
    font-family: 'Lilita One';
    font-size: 25px;
}
body > header > #logo > div{
    height: inherit;
    width: 54px;
}
body > header > #logo > div img{
    height: inherit;
}
body > header > #logo > div svg{
    transform: scale(calc(27 / 320)) translate(calc(-293px * 320 / 27), calc(-293px * 320 / 27));
}
body > header > nav{
    height: inherit;
    flex-grow: 1;
}
body > header > nav > #catalog{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 4px;
    height: inherit;
    border: none;
    cursor: pointer;
    padding: 0 24px;
    background-color: var(--orange);
    transition: background-color 0.1s ease-in-out;
}
body > header > nav > #catalog:active{
    background-color: var(--peach);
}
body > header > nav > #catalog > #burger{
    height: 18px;
    width: 20px;
    position: relative;
}
body > header > nav > #catalog > #burger span{
    display: block;
    position: absolute;
    background-color: white;
    height: 3px;
    width: 20px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}
body > header > nav > #catalog > #burger > span:nth-child(1){
    top: 0;
}
body > header > nav > #catalog > #burger > span:nth-child(2), body > header > nav > #catalog > #burger > :nth-child(3){
    top: calc(50% - 2px);   
}
body > header > nav > #catalog > #burger > span:nth-child(4){
    bottom: 0;
}

body > header > nav > #catalog > .unfolded > span:nth-child(1), body > header > nav > #catalog > .unfolded > span:nth-child(4){
    opacity: 0;
}
body > header > nav > #catalog > .unfolded > span:nth-child(2){
    transform: rotateZ(45deg);
}
body > header > nav > #catalog > .unfolded > span:nth-child(3){
    transform: rotateZ(-45deg);
}
body > header > nav > #catalog > span{
    color: white;
    font-size: 16px;
    font-weight: bold;
}
body > header > nav > #search{
    display: flex;
    align-items: center;
    flex-grow: 1;
    height: 50px;
    border-radius: 25px;
    background-color: white;
    padding-left: 20px;
    margin: 0 40px;
    column-gap: 8px;
    box-shadow: 0 0 15px #00000026;
}
body > header > nav > #search *{
    font-size: 16px;
}
body > header > nav > #search button{
    position: relative;
    border: none;
    display: block;
    cursor: pointer;
}
body > header > nav > #search > span{
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    min-width: 150px;
    flex-grow: 1;
}
body > header > nav > #search > span > input{
    border: none;
    outline: none;
    width: calc(100% - 38px);
    height: 28px;
    border-bottom: 2px solid #ffffff;
    transition-property: height, border;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
}
body > header > nav > #search > span > input:valid{
    border-bottom: 2px solid var(--peach);
}
body > header > nav > #search > span > input:valid + #clear_btn{
    opacity: 1;
    visibility: visible;
}
body > header > nav > #search > span > input:focus{
    border-bottom: 2px solid var(--peach);
}
body > header > nav > #search > span > #clear_btn{
    height: 30px;
    width: 30px;
    background: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.1s linear;
}
body > header > nav > #search > span > #clear_btn::before, body > header > nav > #search > span > #clear_btn::after{
    content: "";
    display: block;
    position: absolute;
    top: calc(50% - 1px);
    left: calc((30px - 15px)/2);
    width: 15px;
    height: 2px;
    border-radius: 10px;
    background-color: black;
}
body > header > nav > #search > span > #clear_btn::before{
    transform: rotate(45deg);
}
body > header > nav > #search > span > #clear_btn::after{
    transform: rotate(-45deg);
}
body > header > nav > #search > #search_btn{
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0 32px;
    border-radius: 25px;
    background-color: var(--orange);
    color: #ffffff;
    transition: background-color 0.1s ease-in-out;
}
body > header > nav > #search > #search_btn:active{
    background-color: var(--peach);
}
body > header > nav > #search > #search_btn > svg{
    display: none;
    height: 30px;
    width: 30px;
}
body > header > nav > #search > #search_btn > svg > path{
    fill: #ffffff;
}
body > header > #user_control{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 16px;
}
body > header > #user_control > button{
    border: none;
    background: none;
    transition: opacity 0.2s ease-in-out;
}
body > header > #user_control > button:hover{
    opacity: 0.7;
}
body > header > #user_control > button > a{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #000000;
}
body > header > #user_control > button > a:visited{
    color: #000000;
}
body > header > #user_control > button > a > figure{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: inherit;
}
body > header > #user_control > button > a > figure > svg{
    display: block;
    height: 25px;
}
body > header > #user_control > button > a > figure > figcaption{
    font-family: 'Noto Sans HK';
    font-size: 14px;
}
body > #menu{
    position: absolute;
    width: 100%;
    height: calc(100vh - var(--header_height));
    overflow-y: scroll;
    z-index: 9;
    background-color: #ffffff;
    transition: top 0.2s ease-in-out;
}
body > #menu::-webkit-scrollbar{
    width: 0;
}
body > #menu:is(.folded){
    top: -100%;
}
body > #menu:is(.unfolded){
    top: var(--header_height);
}
body > #menu > ul{
    list-style: none;
}
body > #menu > ul a{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 2em;
    padding: 1em 4em;
    padding-bottom: calc(1em + 2px);
    font-size: 18px;
    color: #000000;
    text-decoration: none;
    border-bottom: 1px solid #e7e7e7;
    transition: background-color 0.2s ease-in-out;
}
body > #menu > ul a > svg{
    height: 1em;
    width: 1em;
    flex-shrink: none;
}
body > #menu > ul a:visited{
    color: #000000;
}
body > #menu > ul a:hover{
    padding-bottom: 1em;
    background-color: #e7e7e7;
    border-bottom: 3px solid var(--peach);
}
body > main{
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: 60px auto;
    gap: 10px;
    min-height: calc(100vh - var(--header_height) - 4vw);
    padding: 2vw;
}
body > main > div:first-child{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--orange);
}
body > main > div:first-child > span{
    font-size: 20px;
    color: #ffffff;
}
body > main > div:nth-child(2){
    display: flex;
    align-items: center;
}
body > main > div:nth-child(2) > button{
    display: flex;
    align-items: flex-end;
    column-gap: 0.2em;
    padding: 0.5em 1em;
    font-size: 18px;
    border: none;
    border-radius: 2em;
    cursor: pointer;
    color: #ffffff;
    background-color: var(--orange);
    transition: background-color 0.2s ease-in-out;
}
body > main > div:nth-child(2) > button:active{
    background-color: var(--peach);
}
body > main > div:nth-child(2) > button:after{
    content: "";
    display: block;
    align-self: center;
    width: 1em;
    height: 0.14em;
    border-radius: 10px;
    background-color: #ffffff;
}
body > main > div:nth-child(2) > button > img{
    display: none;
    height: 1em;
    width: 1em;
    filter: invert(1);
    margin-top: 0.4em;
}
body > main > div:nth-child(2) > button:is(.selected){
    align-items: center;
}
body > main > div:nth-child(2) > button:is(.selected)::after{
    display: none;
}
body > main > div:nth-child(2) > button:is(.selected) > img{
    display: block;
}
body > main > div:nth-child(3){
    padding: 0 3px;
}
body > main > div:nth-child(3) > form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
body > main > div:nth-child(3) > form * {
    font-size: 18px;
}
body > main > div:nth-child(3) > form > div{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
body > main > div:nth-child(3) > form > div:first-child > span{
    text-align: center;                       
}
body > main > div:nth-child(3) > form > div:first-child > span > input{
    width: 100%;
    border: none;
}
body > main > div:nth-child(3) > form > div:first-child > span:nth-child(odd){
    font-size: 20px;
}
body > main > div:nth-child(3) > form > div:first-child > span:nth-child(even){
    padding: 0.5em 1em;
    border-radius: 2em;
    box-shadow: 0 0 15px #00000026;
}
body > main > div:nth-child(3) > form > div:first-child > span:nth-child(even) > input{
    outline: none;
    border-bottom: 2px solid var(--peach);
}
body > main > div:nth-child(3) > form > div:nth-child(2) > span{
    font-size: 20px;
    text-align: center;
}
body > main > div:nth-child(3) > form > div:nth-child(2) > label{
    padding: 0.5em 1em;
    border-radius: 2em;
    box-shadow: 0 0 15px #00000026;
}
body > main > div:nth-child(3) > form > input:last-child{
    padding: 0.5em 1em;
    color: #ffffff;
    border: none;
    border-radius: 2em;
    background-color: var(--orange);
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
body > main > div:nth-child(3) > form > input:last-child:active{
    background-color: var(--peach);
}
body > main > div:nth-child(4){
    display: grid;
    --card-height: calc((((96vw - 260px) - 30px) / 4) * 14 / 9);
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: var(--card-height);
    gap: 10px;
}
body > main > div:nth-child(4) > a{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: calc((11.6 / 28.4 * 100) * 1%) calc((3 / 28.4 * 100) * 1%) auto calc((3 / 28.4 * 100) * 1%);
    grid-template-areas: "img"
                         "price"
                         "name"
                         "buttons";
    padding: 1vw;
    row-gap: 6px;
    text-decoration: none;
    color: #000000;
    box-shadow: 0 0 8px #0000002f;
    background-color: white;
}
body > main > div:nth-child(4) > a:visited{
    color: #000000;
}
body > main > div:nth-child(4) > a > img{
    grid-area: img;
    width: 100%;
}
body > main > div:nth-child(4) > a > .price{
    grid-area: price;
    border-top: 3px solid var(--orange);
    padding-top: calc(var(--card-height) * 0.25 / 28.4);
    display: flex;
    align-items: center;
    column-gap: calc(var(--card-height) * 0.5 / 28.4);
}
body > main > div:nth-child(4) > a > .price > span:nth-child(1){
    padding: 0 0.5em;
    border-radius: 15px;
    font-size: calc(var(--card-height) * 0.8 / 28.4);
    color: #ffffff;
    background-color: #ed1b24;
}
body > main > div:nth-child(4) > a > .price > span:nth-child(2){
    font-weight: bold;
    font-size: calc(var(--card-height) * 1.4 / 28.4);
}
body > main > div:nth-child(4) > a > .price > span:nth-child(3){
    font-size: calc(var(--card-height) * 0.8 / 28.4);
    text-decoration: line-through;
    color: #5a5a5a;
}
body > main > div:nth-child(4) > a > p{
    grid-area: name;
    overflow: hidden;
    font-size: calc(var(--card-height) * 1 / 28.4);
}
body > main > div:nth-child(4) > a > .cartnlike{
    grid-area: buttons;
    display: flex;
    column-gap: calc(var(--card-height) * 0.5 / 28.4);
}
body > main > div:nth-child(4) > a > .cartnlike > button{
    position: relative;
    height: 100%;
    width: calc((4.8 / 28 * 100) * 1%);
    border: calc(var(--card-height) * 0.2 / 28.4) solid var(--orange);
    border-radius: 50%;
    background-color: var(--orange);
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
body > main > div:nth-child(4) > a > .cartnlike > button:first-child::before, body > main > div:nth-child(4) > a > .cartnlike > button:first-child::after{
    content: "";
    position: absolute;
    top: 38%;
    left: 45%;
    width: 20%;
    height: 7%;
    z-index: 1;
    border-radius: 5px;
    background-color: var(--orange);
}
body > main > div:nth-child(4) > a > .cartnlike > button:first-child::after{
    transform: rotateZ(90deg);
}
body > main > div:nth-child(4) > a > .cartnlike > button > img{
    height: 60%;
    width: 60%;
    padding: 20%;
    filter: invert(1);
    transform: translateY(2.5%);
    transition: transform 0.2s ease-in-out;
}
body > main > div:nth-child(4) > a > .cartnlike > .selected:first-child{
    background-color: #ffffff;
}
body > main > div:nth-child(4) > a > .cartnlike > .selected:first-child > img{
    filter: invert(38%) sepia(98%) saturate(1145%) hue-rotate(344deg) brightness(95%) contrast(92%);
}
body > main > div:nth-child(4) > a > .cartnlike > .selected:first-child::before, body > main > div:nth-child(4) > a > .cartnlike > .selected:first-child::after{
    width: 15%;
    height: 15%;
    border-radius: 2px;
    transition: all 0.2s ease-in-out;
}
body > main > div:nth-child(4) > a > .cartnlike > .selected:first-child::before{
    top: 15%;
    left: 40%;
    transform: rotateZ(-20deg);
}
body > main > div:nth-child(4) > a > .cartnlike > .selected:first-child::after{
    top: 20%;
    left: 55%;
}
body > main > div:nth-child(4) > a > .cartnlike > .selected:last-child{
    border-color: #ed1b24;
    background-color: #ffffff;
}
body > main > div:nth-child(4) > a > .cartnlike > .selected:last-child > img{
    transform: scale(1.2) translateY(2.5%);
    filter: invert(11%) sepia(100%) saturate(3736%) hue-rotate(349deg) brightness(130%) contrast(95%);
}
body > footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    color: #ffffff;
    background-color: var(--orange);
}
body > footer > div{
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    border-left: 3px solid var(--peach);
}
body > footer > div > h3{
    display: block;
    width: 100%;
    padding-bottom: 1em;
}
body > footer > div > a{
    text-indent: 1em;
    color: #ffffff;
}
body > footer > div > a:visited{
    color: #ffffff;
}
body > footer > div:first-child{
    border-left: none;
}
body > footer > div:first-child > div{
    display: flex;
    flex-direction: row;
    column-gap: 5px;
}
body > footer > div:first-child > div > a{
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--peach); 
    transition: all 0.2s ease-in-out;
}
body > footer > div:first-child > div > a:hover{
    outline: var(--peach) solid 3px;
    background-color: var(--pink);
}
body > footer > div:first-child > div > a > img{
    width: 60%;
    height: 60%;
    margin: 20%;
}
body > footer > div:last-child > span{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 0.1em;
}
body > footer > div:last-child > span > svg{
    height: 1em;
    fill: #ffffff;
}
body > footer > div:last-child > span > a{
    color: #ffffff;
    text-decoration: none;
}
@media screen and (max-width: 1150px) {
    body > header{
        width: 98%;
        padding: 0 1%;
    }
    body > header > #logo{
        height: 45px;
        width: 140px;
        column-gap: 4px;
    }
    body > header > #logo > span{
        font-size: 20px;
    }
    body > header > nav > #search{
        margin: 0 10px;
    }
    body > main > div:nth-child(4){
        --card-height: calc((((96vw - 260px) - 20px) / 3) * 14 / 9);
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width: 880px) {
    :root{
        --header_height: 60px;
    }
    body > header > #logo{
        height: 45px;
        width: 120px;
        column-gap: 4px;
    }
    body > header > #logo > span{
        font-size: 16px;
    }
    body > header > nav > #catalog{
        padding: 12px;
    }
    body > header > nav > #catalog > span{
        font-size: 13px;
    }
    body > header > nav > #search{
        height: 40px;
    }
    body > header > nav > #search > span{
        column-gap: 4px;
    }
    body > header > nav > #search > span input{
        width: calc(100% - 34px);
    }
    body > header > nav > #search > #search_btn{
        padding: 5px;
    }
    body > header > nav > #search > #search_btn > span{
        display: none;
    }
    body > header > nav > #search > #search_btn > svg{
        display: block;
    }
    body > header > #user_control{
        padding: 0 8px;
    }
    body > header > #user_control > button > a > figure > figcaption{
        display: none;
    }
    body > #menu > ul a{
        font-size: 14px;
    }
    body > main{
        display: grid;
        grid-template-columns: 98vw;
        grid-template-rows: 300px 40px auto;
        grid-template-areas: "params"
                             "order"
                             "cards";
        gap: 10px;
        padding: 1vw;
        min-height: calc(100vh - var(--header_height) - 2vw);
    }
    body > main > div:first-child{
        display: none;
    }
    body > main > div:nth-child(2){
        grid-area: order;
    }
    body > main > div:nth-child(2) > button{
        font-size: 14px;
    }
    body > main > div:nth-child(3){
        grid-area: params;
        height: 100%;
    }
    body > main > div:nth-child(3) > form{
        flex-direction: row;
        flex-wrap: wrap;
        height: 100%;
    }
    body > main > div:nth-child(3) > form * {
        font-size: 14px;
    }
    body > main > div:nth-child(3) > form > div{
        max-height: calc(100% - 3em - 10px);
        padding: 0 10px;
        overflow-y: scroll;
    }
    body > main > div:nth-child(3) > form > div:first-child{
        width: 40%;
    }
    body > main > div:nth-child(3) > form > div:nth-child(2) > span, body > main > div:nth-child(3) > form > div:first-child > span:nth-child(odd){
        font-size: 16px;
    }
    body > main > div:nth-child(3) > form > input:last-child{
        flex-basis: 100%;
    }
    body > main > div:nth-child(4){
        grid-area: cards;
        --card-height: calc(((98vw - 20px) / 3) * 14 / 9);
    }
    body > footer{
        gap: 10px;
        padding: 10px;
    }
    body > footer > div{
        padding: 0 10px;
    }
    body > footer > div > a{
        font-size: 14px;
        text-indent: 0;
    }
    body > footer > div:first-child > div > a{
        height: 40px;
        width: 40px;
    }
    body > footer > div:last-child > span{
        font-size: 14px;
    }
    body > footer > div:last-child > span > a{
        font-size: 14px;
    }
}
@media screen and (max-width: 640px) {
    :root{
        --header_height: 90px;
    }
    body > header{
        flex-wrap: wrap;
        align-content: space-between;
        width: 100%;
        padding: 0;
    }
    body > header > nav{
        height: 40px;
        width: 100%;
        order: 2;
    }
    body > header > nav > #catalog{
        height: 40px;
    }
    body > header > nav > #catalog > span{
        display: none;
    }
    body > header > nav > #search{
        margin: 0;
        border-radius: 0;
    }
    body > header > nav > #search #search_btn{
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    body > #menu > ul a{
        padding: 1em;
        padding-bottom: calc(1em + 2px);
    }
    body > main > div:nth-child(4){
        grid-area: cards;
        --card-height: calc(((98vw - 10px) / 2) * 14 / 9);
        grid-template-columns: repeat(2, 1fr);
    }
    body > footer{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
    }
    body > footer > div{
        border-left: none;
        border-top: 3px solid var(--peach);
    }
    body > footer > div:first-child{
        border-top: none;
    }
}
@media screen and (max-width: 435px) {
    body > main{
        grid-template-rows: max-content 40px auto;
    }
    body > main > div:nth-child(3){
        height: 100%;
    }
    body > main > div:nth-child(3) > form{
        flex-wrap: nowrap;
        flex-direction: column;
    }
    body > main > div:nth-child(3) > form > div{
        max-height: none;
        overflow-y: visible;
    }
    body > main > div:nth-child(3) > form > div:first-child{
        width: auto;
    }
}